<div class="container">
  <div class="row clearfix">

    <div id="footer-logo-div" class="col-md-3">
      <a href="">
        <img id="footer-logo-img" class="footer-logo left-block"
        src="/themes/custom/composites_lib_unb_ca/images/UNB_Lib_Black_Red.png">
      </a>
    </div>

    <div class="col-md-6"></div>

    <div id="footer-menu-div" class="col-md-3">
    {% if logged_in %}
      <br>
      <a href="/user/logout">Log out</a>
    {% else %}
      <a href="/user/login">Log in</a>
    {% endif %}
    </div>
  </div>
</div>

{% if content %}
<div id="{{ id }}-wrapper"><footer id="{{ id }}" class="row" role="contentinfo">
  <div{{ attributes }}>
    {{ content }}
  </div>
</footer><div><!-- /#{{ id }}, /#{{ id }}-wrapper -->
{% endif %}
